
html,body{
    margin: 0;
    padding: 0;
    /* font-size: 14px; */
    font-family: Serif;
    background-color: rgb(175, 187, 226);
}

* {
    box-sizing: border-box;
}
/* nav-bar */
.header{
    /* position: fixed; */
    height: 50px;
    background-image: linear-gradient(0,rgb(33, 44, 61),rgb(56, 99, 163));
}

.header__nav{
    display: flex;
    justify-content:space-between ;
}
.header__nav-list{
    list-style: none;
    padding-left: 0;

    
}
.header__nav-list__item{
    display: inline-block;
    font-size: 20px;
    color: white;
    margin: 0 10px;
    position: relative;
}
.header__nav-list__item-bold{
    font-weight: bold;
}
/* Slogan */
.slogan{
    width: 100%;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    background-image: url(./images/Slogan1.png);
    background-size: auto;
}
.slogan_text{
    color: white;
    font-size: 80px;
    text-align: center;
    font-weight: thin;
    font-style: italic;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
/* Container */
.container{
    width: 80%;
    height: 100%;
    background-color: #fff;
    margin: 10px auto;
    border-style: solid;
    border-width: 1px;
}
#title{
    margin-bottom: 10px;
    
}
/* //////////////////////// */
.product__item{
    max-width: 250px;
    height: 430px;
    width: 100%;
    background: #fff;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  
  }
  .list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    /* width: 1200px; */
    grid-gap: 20px;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .product__picture{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
  }
  .picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    transform-origin: right;
  }
  .product-name{
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
  }
  .product__price{
    width: 60px;
    color:red;
    font-size: 1.2rem;
    padding:10px;
    font-family: "Poppins", sans-serif;
  }
  .product-moreDetails{
    display: flex;
    position: relative;
  }
 
  .list__item .product__item:hover .action li {
    transform: translateX(0px);
  }
  .action {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .action li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
    transition: transform 0.5s;
  }
  .action li:nth-child(2) {
    transition-delay: 0.15s;
  }
  .action li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .action li span {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: #fff;
    color: #333;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s r;
  }
  .action li:hover {
    background: #ff2020;
    color: #fff;
  }
  .action li:hover span {
    opacity: 1;
    transform: translateY(-50%) translateX(0px);
  }
  .action li span::before {
    content: "";
    position: absolute;
    top: 50;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateX(-50%) rotate(45deg);
  }
  .product__item.hide {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
/* Footer */
.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align:left;
}.footer{
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
}
.footer_introduce{
    width: 40%;
    margin-left: 50px;
}
.introduce-text{
    margin-top: 0;
    font-size: 14px;
}

.footer_contact{
    display: flex;
    text-align: left;
    padding-left: 20px;

}
.contact_name{
    width: 150px;
    font-size: 15px;
    padding: 0 0px 5px 0px;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.footer_contact__contact{
    width: 50px;
}
.contact_name_item{
    margin: 0;
    align-content:flex-start;
}
.footer_contact__contact{
    width: 50%;
}
h5{
    align-content:flex-start;
    padding: 0;
}